<h2>H2 default tailwind styling</h2>

<h2 class="standard-css-class">H2 with CSS class (red large font)</h2>

<h2 class="text-green text-5xl">H2 with tailwind classes (green large font)</h2>

<h2 class="component-tailwind-class">H2 with component tailwind class (blue large font)</h2>

<h2 class="utility-tailwind-class">H2 with utility tailwind class (magenta large font)</h2>

{{outlet}}
